.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Banner */
.banner-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 15% 50%;
}

/* Purpose */
.purpose {
  background: var(--color-blue);
  padding: 60px var(--margin-narrow);
  text-align: center;
}
.purpose h1 {
  color: var(--color-orange);
  font-family: var(--font);
  font-size: 48px;
  font-weight: bold;
}
.purpose p {
  color: var(--color-white);
  font-size: 22px;
}

/* Top 4 Dogs */
.top-dogs {
  padding: 150px var(--margin-main);
  text-align: center;
}
.top-dogs h2 {
  font-size: 40px;
  color: var(--color-blue);
}

.dog-grid {
  display: grid;
  gap: 40px;
  margin: 40px 0 50px;
  grid-template-columns: repeat(4, 1fr);
}
.dog-card {
  background: var(--color-blue);
  border-radius: 50px;
  outline: 5px solid var(--color-black);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0 20px;
  gap: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dog-card:hover {
  background-color: var(--color-orange);
}
.dog-img {
  display: block;
  width: 100%;
  border-radius: 50px 50px 0 0;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.dog-name {
  color: var(--color-white);
  font-weight: bold;
  font-size: 24px;
}

/* Buttons */
.btn, .btn-sm, .btn-news {
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.btn, .btn-news {
  font-size: 32px;
  padding: 10px 50px;
  transition: all 0.3s ease;
}
.btn-sm {
  font-size: 20px;
  padding: 8px 30px;
  transition: all 0.3s ease;
}
.btn:hover,
.btn-sm:hover {
  background: var(--color-orange);
}
.btn-news:hover {
  background: var(--color-black);
}

/* Why Adopt */
.why-adopt {
  background: var(--color-blue);
  padding: 100px var(--margin-main);
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--color-white);
}
.why-adopt h2 {
  color: var(--color-black);
  font-size: 40px;
  text-align: center;
}
.benefit-row {
  display: flex;
  gap: 30px;
  margin-top: 0px;
}
.benefit-row h3 {
  color: var(--color-orange);
  font-size: 24px;
}
.benefit-img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

/* Latest News */
.news-section {
  background: var(--color-orange);
  padding: 100px var(--margin-main);
  text-align: center;
}
.news-section h2 {
  color: var(--color-black);
  font-size: 40px;
}
.dog-news-grid {
  display: grid;
  gap: 50px;
  margin: 40px 0 50px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 20%;
}
.news-grid {
  display: grid;
  gap: 30px;
  margin: 50px 0;
  grid-template-columns: repeat(3, 1fr);
}
.dog-news-card {
  background: var(--color-blue);
  border-radius: 50px;
  overflow: hidden;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dog-news-card:hover {
  background-color: var(--color-black);
}
.news-card {
  background: var(--color-white);
  border-radius: 50px;
  overflow: hidden;
}
.dog-news-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.news-img {
  display: block;
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}
.dog-news-text {
  padding: 20px;
  font-size: 32px;
  color: var(--color-white);
}
.news-content {
  padding: 30px 50px;
}
.news-content h3 {
  color: var(--color-blue);
  font-size: 24px;
}
.news-content p {
  color: var(--color-black);
  font-size: 16px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .purpose {
    padding: 60px var(--margin-main);
  }
  .top-dogs {
    padding: 150px 100px;
  }
  .dog-grid {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 20%;
  }
  .why-adopt {
    padding: 100px;
  }
  .news-section {
    padding: 100px;
  }
  .dog-news-grid {
    gap: 20px;
    padding: 0px 100px;
  }
  .news-grid {
    gap: 20px;
  }
  .news-content {
    padding: 20px 20px 30px;
  }
}

@media (max-width: 768px) {
  .purpose {
    padding: 40px 20px;
  }
  .top-dogs {
    padding: 100px 20px;
  }
  .dog-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 30%;
  }
  .why-adopt {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 60px 20px;
  }
  .benefit-img {
    order: -1;
  }
  .news-section {
    padding: 80px 20px;
  }
  .dog-news-grid {
    gap: 20px;
    padding: 0px 20px;
  }
  .news-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 0px 20px;
  }
}