<div class="news">
  <div class="news-header">
    <h2>Latest Updates</h2>
  </div>

  <div class="news-section">
    <div class="news-group">
      <h3>Clinic Blog</h3>
        <div class="card-container">
            <div class="info-card" *ngFor="let item of [1,2,3,4]">
                <img src="assets/vaccine shot dog.png">
                <p>View changes in our veterinary clinic's schedule starting December 2025</p>
            </div>
        </div>
    </div>

    <div class="news-group">
      <h3>Clinic Announcments</h3>
        <div class="card-container">
            <div class="info-card" *ngFor="let item of [1,2,3,4]">
                <img src="assets/vaccine shot dog.png">
                <p>View changes in our veterinary clinic's schedule starting December 2025</p>
            </div>
        </div>
    </div>
  </div>
</div>

