<div class="news">
  <div class="news-header">
    <h2>Latest Updates</h2>
  </div>

  <div class="news-section">
    <div class="news-group">
      <h3>Lorem ipsum dolor sit amet</h3>
        <div class="card-container">
            <div class="info-card" *ngFor="let item of [1,2,3,4]">
                <img src="assets/placeholder.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
        </div>
    </div>

    <div class="news-group">
      <h3>Lorem ipsum dolor sit amet</h3>
        <div class="card-container">
            <div class="info-card" *ngFor="let item of [1,2,3,4]">
                <img src="assets/placeholder.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
        </div>
    </div>
  </div>
</div>

