<div class="page-container" *ngIf="article">
  <div class="content-wrapper">
    <div class="article-section">
        <div class="article-header">
            <div class="article-title">{{article.title}}</div>
            <div class="article-date">{{article.date  | date:'MMMM dd, yyyy'}}</div>
        </div>

      <img [src]="article.image_path" />

      <div class="article-content">
        {{article.content}}
      </div>
    </div>

    <div class="divider"></div>

    <div class="news-group">
        <h3>Read More</h3>
        <div class="card-container">
            <div class="info-card" *ngFor="let item of [1,2,3]">
                <img src="assets/placeholder.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
        </div>
    </div>
  </div>
</div>
